@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-action="DrKaydet" asp-controller="Admin" method="post">
    <div class="input-box">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <input type="text" name="DoktorTc" required />
        <label>Doktor TC</label>
        <br />
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <input type="text" name="DoktorAdi" required />
        <label>Doktor Adı</label>
        <br />
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <input type="text" name="DoktorSoyadi" required />
        <label>Doktor Soyadı</label>
        <br />
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <input type="text" name="PolikinlikId" required />
        <label>Poliklinik Adı</label>
    </div>
    <button type="submit" class="btn btn-secondary">Ekle</button>
</form>