@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using EntityLayer
@model List<Hasta>


  
<div class="container">
    <div class="row">
        <div class="col-md col-sm text-center">
            <h2>@ViewBag.adi&nbsp;@ViewBag.soyadi kişisnin bilgileri</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md col-sm">
            @foreach (var item in Model)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Hasta Tc</th>
                            <th scope="col">Hasta Adı</th>
                            <th scope="col">Hasta Soyadı</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@item.HastaTc</td>
                            <td>@item.HastaAdi</td>
                            <td>@item.HastaSoyadi</td>
                        </tr>

                    </tbody>
                </table>
            }
            
        </div>
    </div>
</div>
